* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gilroy", sans-serif;
}

main {
  height: 100%;
  width: 100%;
  background-color: rgb(212, 215, 222);
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 30% 55% 15%;
}

#left-topLeft {
  padding: 20px 25px;
}

#diamond {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 1.5px;
  rotate: 45deg;
}

#left-topRight {
  padding: 20px 25px;
  justify-self: end;
  text-align: right;
}

#left-topRight h4 {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

#left-topRight h5 {
  font-size: 15px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

#left-centre {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding: 1.5vw 2.5vw;
}

#left-centre h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.5vw;
  font-weight: 200;
  line-height: 5.8vw;
}

#left-centre h1:nth-child(2n) {
  text-align: center;
}

#left-bottom {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  padding: 1vw 2.5vw;
  line-height: 0.6vw;
  font-weight: 500;
  font-size: 1.1vw;
}

#right {
  background-color: aqua;
  grid-row: 1 / 4;
}
